<!DOCTYPE html>
<html lang="en">
<head th:include="header :: common_header(~{::title},~{::link},~{})">
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" th:href="@{/css/chat/changeAvatar.css}">
    <link rel=stylesheet th:href="@{/css/chat/cropper.css}">
</head>
<body>
<div class="layui-fluid showImgEdit hide">
    <div class="layui-form-item">
        <div class="layui-input-inline layui-btn-container" style="margin: 0 auto;
        text-align: center;">
            <label for="cropper_avatarImgUpload" class="layui-btn layui-btn-primary">
                <i class="layui-icon">&#xe67c;</i>选择图片
            </label>
            <input class="layui-upload-file" id="cropper_avatarImgUpload" type="file" value="选择图片" name="file">
        </div>
        <div class="layui-form-mid layui-word-aux notice">头像的尺寸限定150x150px,大小在50kb以内</div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs9">
            <div class="readyimg" style="height:300px;width:300px;background-color: rgb(247, 247, 247);">
                <img th:src="${initSrc}">
            </div>
        </div>
        <div class="layui-col-xs3">
            <div class="img-preview">
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15 cropper-btn-div">
        <div class="layui-col-xs9 cropper-func">
            <div class="layui-row">
                <div class="layui-col-xs6">
                    <button type="button" class="layui-btn lbtn layui-icon rotate-left" cropper-event="rotate"
                            data-option="-15" title="Rotate -90 degrees"></button>
                    <button type="button" class="layui-btn lbtn layui-icon rotate-right" cropper-event="rotate"
                            data-option="15" title="Rotate 90 degrees"></button>
                    <button type="button" class="layui-btn lbtn move-to" title="移动" cropper-event="moveTo"
                            data-option="0"></button>
                    <button type="button" class="layui-btn lbtn enlarge" title="放大图片" cropper-event="zoom"
                            data-option="0.1"></button>
                    <button type="button" class="layui-btn lbtn shrink" title="缩小图片" cropper-event="zoom"
                            data-option="-0.1"></button>
                    <button type="button" class="layui-btn lbtn layui-icon reset" cropper-event="reset"
                            title="重置图片"></button>
                </div>
            </div>
        </div>
        <div class="bottomBtn">
            <button class="layui-btn" cropper-event="confirmSave" type="button">保存</button>
            <button class="layui-btn layui-btn-primary" cropper-event="cancel" type="button">取消</button>
        </div>
    </div>

</div>

<script th:inline="javascript">
    let initSrc = [[${initSrc}]];
</script>
<script th:src="@{/cropper/croppers.js}"></script>
<script th:inline="javascript" th:src="@{/js/chat/changeAvatar.js}"></script>
</body>
</html>