<html lang="zh_cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: common_header(~{::title},~{::link},~{})">
    <meta charset="UTF-8">
    <title>聊天吹水</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/chat/reset.min.css">
    <link rel="stylesheet" href="/css/chat/style.css">
</head>
<body>
<div class="wrapper">
    <div>
        <input class="username" type="hidden" th:value="${username}">
    </div>
    <div class="container">
        <div class="left" id="leftPanel">
            <div class="top" style="position: relative">
                <input type="text" placeholder="搜索"/>
                <svg id="addBtn" style="margin: 0 0.3em 0 2em;cursor: pointer;" t="1654139334069" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2289" width="20" height="32"><path d="M512 512V170.666667h42.666667v341.333333h341.333333v42.666667h-341.333333v341.333333h-42.666667v-341.333333H170.666667v-42.666667h341.333333z" fill="#444444" p-id="2290"></path></svg>
                <div id="addPanel" style="display: none">
                    <p id="addFriend" data-action="friend" class="addAction">加好友/加群</p>
                    <p id="createChatGroup" data-action="group" class="addAction">创建群聊</p>
                </div>
            </div>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">好友</li>
                    <li>群聊</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div id="myGroups">
                            <div class="layui-bg-gray" style="height: auto; text-align: center;">
                                <div id="userGroups" class="demo-tree-more"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">内容2</div>
                </div>
            </div>
            <ul class="people">
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name sendTo"></span></span></div>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input class="message" type="text"/>
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/chat/index.js}"></script>
</body>
</html>