<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天吹水</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/chat/reset.min.css">
    <link rel="stylesheet" href="/css/chat/style.css">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="搜索" />
                <a href="javascript:" class="search"></a>
            </div>
            <ul class="people">
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name sendTo"></span></span></div>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input class="message" type="text"/>
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:;" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>
<script src="/js/chat/jquery.min.js"></script>
<script th:inline="javascript">
    let userId = [[${userId}]] ?? "";
</script>
<script src="/js/chat/index.js"></script>
</body>
</html>