<html lang="zh_cn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: common_header(~{::title},~{::link},~{})">
    <meta charset="UTF-8">
    <title>聊天吹水</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/chat/reset.min.css">
    <link rel="stylesheet" href="/css/chat/style.css">
</head>
<body>
<div class="wrapper">
    <div>
        <input class="username" type="hidden" th:value="${username}">
    </div>
    <div class="container">
        <div class="left-side" id="left-side">
            <div class="user-avatar">
                <img class="avatarUrl" alt="" th:src="${userAvatar}">
            </div>
            <div>
                <ul class="switch-btn">
                    <li data-link="chat-div" class="chat-panel active"></li>
                    <li data-link="group-div" class="group-panel"></li>
                </ul>
            </div>
        </div>
        <div class="left" id="leftPanel-group">
            <div class="top search-adjust" style="position: relative">
                <input type="text" placeholder="搜索"/>
                <svg id="addBtn" style="margin: 0 0.3em 0 2em;cursor: pointer;" t="1654139334069" class="icon"
                     viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2289" width="20"
                     height="32">
                    <path d="M512 512V170.666667h42.666667v341.333333h341.333333v42.666667h-341.333333v341.333333h-42.666667v-341.333333H170.666667v-42.666667h341.333333z"
                          fill="#444444" p-id="2290"></path>
                </svg>
                <div style="" class="to-do active">
                    <i class="to-do-icon"></i>
                    <span style="display: inline-block;vertical-align: middle;margin-left: 3px;font-size: 14px;">待办：0</span>
                </div>
                <div id="addPanel" style="display: none">
                    <p id="addFriend" data-action="friend" class="addAction">加好友/加群</p>
                    <p id="createChatGroup" data-action="group" class="addAction">创建群聊</p>
                </div>
            </div>
            <!--            聊天列表-->
            <div class="chat-div active">
                <div class="">
                    <div id="recent-chat">
                        <ul>
                            <!--                            <li>-->
                            <!--                                <div class="new-apply">-->
                            <!--                                    <div class="notice-msg relative">-->
                            <!--                                        <div class="sys-notice"></div>-->
                            <!--                                        <p id="nickName">新朋友</p>-->
                            <!--                                        <p id="short-desc">简爱申请添加你为好友</p>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div style="" class="layui-tab layui-tab-brief group-div" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">好友</li>
                    <li>群聊</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div id="myGroups">
                            <!--                            <div class="" style="height: auto; text-align: center;">-->
                            <!--                                <div id="userGroups" class="demo-tree-more"></div>-->
                            <!--                            </div>-->
                            <!--                            <div class="layui-side layui-bg-black">-->
                            <div id="sideScroll" class="layui-side-scroll">

                                <ul id="groups" class="layui-nav layui-nav-tree" lay-filter="test">
                                </ul>
                            </div>
                            <!--                            </div>-->
                        </div>
                    </div>
                    <div class="layui-tab-item">内容2</div>
                </div>
            </div>
            <ul class="people">
            </ul>
        </div>
        <div class="right chats">
            <iframe style="width: 100%;height: 100%;" id="rightFrame" th:src="@{/chat/recent/blank}">

            </iframe>
        </div>
    </div>
</div>
<script th:src="@{/js/chat/connect.js}"></script>
<script th:src="@{/js/chat/index.js}"></script>
</body>
</html>