<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: common_header(~{::title},~{::link},~{})">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/chat/login.css">
</head>
<body>
<canvas class="cavs" width="1366" height="625"></canvas>

<div class="loginmain">
    <div class="login-title">
        <span>用户登录</span>
    </div>

    <div class="login-con">
        <div class="login-user">
            <div class="icon">
                <img src="/img/user_icon_copy.png" alt="">
            </div>
            <input type="text" class="account" name="account" placeholder="账号" autocomplete="off" value="">
        </div>
        <div class="login-pwd">
            <div class="icon">
                <img src="/img/lock_icon_copy.png" alt="">
            </div>
            <input type="password" class="password" name="pwd" placeholder="密码" autocomplete="off" value="">
        </div>
        <div class="login-yan">
            <div class="icon">
                <img src="/img/key.png" alt="">
            </div>
            <input type="text" class="captcha" name="captcha" placeholder="验证码" autocomplete="off" value="">
            <img th:src="@{/captcha(v=${T(java.lang.Math).random()})}" class="captchaImg" onclick="refreshCaptcha(this)" style="width: 9em;height: 2.5em;" />
        </div>
        <a style="color: #bdbbbb;text-align: right;cursor: pointer;float: right;text-decoration: unset;margin-right: 1em;margin-top: 1em;" target="_blank" th:href="@{/register}">注册账号</a>
        <div class="login-btn">
            <input type="button" class="loginBtn" value="登录">
        </div>
    </div>

</div>

</body>
</html>
<script src="/js/chat/jquery.min.js"></script>
<script src="/js/chat/ban.js"></script>
<script src="/js/base64.js"></script>
<script src="/js/chat/login.js"></script>
