<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>好友申请</title>
</head>
<body>
<div class="right applies">
  <div class="sendToDiv"><h4>新朋友</h4></div>
  <div class="show-apply">
    <p>6月26日</p>
    <ul>
      <li>
        <div class="new-apply">
          <div class="notice-msg relative">
            <div class="sys-notice"></div>
            <p class="nickName">简爱</p>
            <p class="remark">嘻嘻</p>
            <p class="apply-from">来源：来自QQ号查找</p>
            <p class="apply-from">来源：来自QQ号查找</p>
            <div>
              <button>同意</button>
              <button>忽略</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</body>
</html>