<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: common_header(~{::title},~{::link},~{})">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <link th:href="@{/css/chat/register.css}" rel='stylesheet' type='text/css' media="all"/>
</head>
<body>
<div class="log">
    <div class="content2">
        <h2>注册账号</h2>
        <form action="javascript:;">
            <input autocomplete="off" type="text" class="account" name="account" placeholder="账号"
                   onblur="if (this.value === '') {this.placeholder = '请输入账号';}">
            <input autocomplete="off" type="text" class="nickName" name="nickName" placeholder="昵称"
                   onblur="if (this.value === '') {this.placeholder = '请输入昵称';}">
            <input autocomplete="off" type="password" class="password" name="password" placeholder="密码"
                   onblur="if (this.value === '') {this.placeholder = '请输入密码';}">
            <input type="button" class="register" value="注册">
        </form>
    </div>
    <div class="clear"></div>
</div>
<div class="footer">
</div>
<script th:src="@{/js/chat/register.js}"></script>
</body>
</html>