*, *:before, *:after {
    box-sizing: border-box;
}

div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p:hover {
    cursor: default;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

.chat-avatar {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    position: relative;
    left: 50%;
    width: var(--wrapper);
    height: 800px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 75%;
    background-color: var(--white);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container .left {
    float: left;
    width: 33.6%;
    height: 100%;
    border: 1px solid var(--light);
    background-color: var(--white);
    overflow-y: clip;
    overflow-x: hidden;
}

.hide {
    visibility: hidden !important;
}

.selected {
    background-color: #f3f4f5;
}

.displayNone {
    display: none !important;
}

.recent-chat {
    width: 2.8em;
    height: 2.8em;
    opacity: 0.8;
    display: inline-block;
    float: left;
    border-radius: 7px;
    background-size: 70%;
}

.chatDate {
    display: inline-block;
    position: absolute;
    top: 0.3em;
    right: 0.5em;
    color: gray;
}

.show {
    visibility: visible !important;
}

.PERSONAL {
    padding: 10px 0 10px 10px;
}

.left::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

#sideScroll {
    width: 100%;
}

#groups {
    background-color: white !important;
    width: 100%;
}

.layui-nav-itemed > a .layui-nav-more {
    transform: rotate(90deg);
}

.layui-nav .layui-nav-more {
    right: 22.2em !important;
    color: #b2b1b1;
}

.avatarInGroup {
    width: 2em;
    height: 2em;
    vertical-align: super;
    margin-left: 0.5em;
}

dd.layui-this {
    background-color: #ebebeb !important
}

.layui-nav-child dd:hover {
    background-color: #ebebeb !important
}

dd.layui-this a {
    background-color: #ebebeb !important
}

#groups li a {
    color: black !important;

}

#groups li dl {
    background-color: white !important;
}

#groups li dl:hover {
    background-color: white !important;
}

.friendName {
    padding-left: 5px !important;
    width: 87%;
}

.left::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}

.left::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
}

.unRead {
    position: absolute;
    right: 47px;
    top: 34px;
    color: white;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: red;
    text-align: center;
    border-radius: 50% 50%;
}

.active-chat {
    overflow-y: scroll;
    height: 80% !important;
}


.active-chat::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.active-chat::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}

.active-chat::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
}

.conversation-start {
    margin-top: 10px;
}

.container .left .top {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 28px 0 0 0;
    line-height: 60px;
}

/*.container .left .top:after {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50%;*/
/*    display: block;*/
/*    width: 80%;*/
/*    height: 1px;*/
/*    content: '';*/
/*    background-color: var(--light);*/
/*    -webkit-transform: translate(-50%, 0);*/
/*    transform: translate(-50%, 0);*/
/*}*/

.container .left input {
    margin-left: 15px;
    float: left;
    width: 200px;
    height: 32px;
    padding: 0 15px 0 20px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.container .left input:focus {
    outline: none;
}

.container .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid var(--light);
    background-color: var(--blue);
    background-image: url('/img/name-type.png');
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}

.container .left .people {
    margin-left: -1px;
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
    width: calc(100% + 2px);
}

.container .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: var(--white);
}

.container .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: var(--light);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.container .left .people .person img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
}

.container .left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 10%;
    padding: 0 0 5px 5px;
    color: var(--grey);
    background-color: var(--white);
}

.container .left .people .person .preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey);
}

.container .left .people .person.active, .container .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: var(--blue);
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}

.container .left .people .person.active span, .container .left .people .person:hover span {
    color: var(--white);
    background: transparent;
}

.container .left .people .person.active:after, .container .left .people .person:hover:after {
    display: none;
}

.container .right {
    position: relative;
    float: left;
    width: 59.7%;
    height: 100%;
}

.container .right .top, .sendToDiv {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
}

.container .right .top span {
    font-size: 15px;
    color: var(--grey);
}

.container .right .top span .name {
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container .right .chat {
    position: relative;
    display: none;
    padding: 0 35px 0 35px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--light);
    height: calc(100% - 48px);
    justify-content: flex-end;
    flex-direction: column;
}

.container .right .chat.active-chat {
    display: block;
}

.container .right .chat.active-chat .bubble {
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.container .right .chat.active-chat .bubble:nth-of-type(1) {
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

.container .right .chat.active-chat .bubble:nth-of-type(2) {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.container .right .chat.active-chat .bubble:nth-of-type(3) {
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}

.container .right .chat.active-chat .bubble:nth-of-type(4) {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.container .right .chat.active-chat .bubble:nth-of-type(5) {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}

.container .right .chat.active-chat .bubble:nth-of-type(6) {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.container .right .chat.active-chat .bubble:nth-of-type(7) {
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}

.container .right .chat.active-chat .bubble:nth-of-type(8) {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.container .right .chat.active-chat .bubble:nth-of-type(9) {
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}

.container .right .chat.active-chat .bubble:nth-of-type(10) {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}


@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

.layui-bg-gray {
    min-height: 100% !important;
}

li {
    list-style: none;
}

/* 后代选择器 */
li a {
    color: #434343;
    text-decoration: none;
}

#menu {
    width: 200px;
    margin: 50px;

}

#menu li {
    font-size: 14px;
}

/* 子选择器 */
#menu > li {
    background-color: blanchedalmond;
    line-height: 24px;
    text-indent: 60px;
}

#menu ul {
    display: none;
}

#menu ul li {
    text-indent: 30px;
}

#menu > li:hover ul {
    display: block;
}

.layui-tab-title {
    text-align: center;
}

.layui-tab-title li {
    padding: 0 38px !important;
}

.layui-tab-content {
    height: 80% !important;
}

.layui-tree-txt {
    height: 30px !important;
    line-height: 30px !important;
}

.layui-tree-entry {
    height: 30px !important;
}

#addPanel {
    position: absolute;
    box-shadow: #ada8a8 0 0 10px;
    font-size: 12px;
    z-index: 99999;
    margin-right: 10px;
    top: 50px;
    right: 10px;
    background-color: white;
    padding: 3px 13px;
}

#addPanel p {
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.left-side {
    float: left;
    width: 3.5em;
}

.left-side .avatarUrl {
    width: 2.5em;
    height: 2.5em;
    border-radius: 7px;
    margin-top: 1.8em;
    cursor: pointer;
}

.chat-line.focus {
    background-color: #f3f4f5;
}

.user-avatar {
    text-align: center;
}

.switch-btn {
    margin-top: 2.2em;
}

.switch-btn li {
    width: 2em;
    height: 2em;
    margin: 1em auto;
    background-size: 80%;
}

.chat-panel {
    background: url("/img/chat-bubble.png") no-repeat;
}

.chat-panel.active {
    background: url("/img/chat-bubble-visited.png") no-repeat;
    background-size: 80%;
}

.group-panel {
    background: url("/img/contacts.png") no-repeat;
}

.group-panel.active {
    background: url("/img/contacts-visited.png") no-repeat;
    background-size: 80%;
}

.chat-div {
    display: none;
}

.chat-div.active {
    display: inline-block;
}

.group-div {
    display: none;
    width: 100%;
}

.group-div.active {
    display: inline-block;
}

.search-adjust {
    height: 7em !important;
    border-bottom: 1px solid #ddd7d7 !important;
}

.to-do {
    display: none;
    height: 60% !important;
}

.to-do span {
    height: 2.8em !important;
    line-height: 2.8em !important;
}

.to-do.active {
    display: inline-block;
}

.to-do-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    vertical-align: middle;
    background: url("/img/to-do.png") no-repeat;
    background-size: 100%;
    margin-left: 1em;
}

.layui-tree {
    height: 100%;
}

.sys-notice {
    width: 2.8em;
    height: 2.8em;
    background: #4444ef url("/img/notice-solid.png") no-repeat center center;
    opacity: 0.8;
    display: inline-block;
    float: left;
    border-radius: 7px;
    background-size: 70%;
}

.new-apply {
    width: 2.8em;
    height: 2.8em;
    background: #4444ef url("/img/notice-solid.png") no-repeat center center;
    opacity: 0.8;
    display: inline-block;
    float: left;
    border-radius: 7px;
    background-size: 70%;
}

.notice-msg {
    width: 17.1em;
    overflow: auto;
}

.notice-msg p {
    font-size: 14px;
}

.gray {
    color: #9b9898;
}

.relative {
    position: relative;
}

.abs {
    position: absolute;
}

.nickName {
    display: inline-block;
    position: absolute;
    top: 0.3em;
    left: 3.7em;
    font-weight: bold;
}

.short-desc, .remark {
    display: inline-block;
    position: absolute;
    top: 1.9em;
    left: 3.7em;
    color: #9b9898;
}

.emptyDl {
    height: 0;
    padding: 0;
}

.notRead {
    position: absolute;
    right: 12px;
    bottom: 5px;
    font-size: 14px;
    color: white;
    background: red;
    border-radius: 50% 50%;
    display: block;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    text-align: center;
}

.overflowEllips {
    max-height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 13em;
}

.NEW_FRIEND {
    padding: 0.5em 0 0.5em 0.6em
}

#recent-chat li:hover {
    background-color: #f3f4f5;
}

.right.active {
    display: inline-block;
}

.applies {
    display: none;
}